common --enable_platform_specific_config
common --enable_bzlmod
startup --nowindows_enable_symlinks

common --java_language_version=17
common --java_runtime_version=remotejdk_17

# Use Bazel's embedded JDK for r_j_e's coursier.
common --repo_env=JAVA_HOME=../../install/embedded_tools/jdk

# Improve build caching by redacting environment variables.
common --incompatible_strict_action_env
# On Windows, PATH doubles as the dynamic library search path. We need its
# unmodified value to find libraries in non-standard location, such as the
# ASAN runtime for cc_asan_test.
common:windows --noincompatible_strict_action_env
common:windows --test_env=PATH
# Allow build to start before all external deps have been fetched.
common --experimental_merged_skyframe_analysis_execution

# Debug where options came from
common:ci --announce_rc
# Don't rely on test logs being easily accessible from the test runner,
# though it makes the log noisier.
common:ci --test_output=errors
