common --enable_platform_specific_config
common --enable_bzlmod
startup --nowindows_enable_symlinks

# Required with Bazel 6 (default on 7) to allow transitions to return to the
# top-level configuration.
common --experimental_output_directory_naming_scheme=diff_against_dynamic_baseline

# Prevent Java compiler warnings such as:
# [0.002s][warning][perf,memops] Cannot use file /tmp/hsperfdata_runner/2 because it is locked by another process (errno = 11)
common --incompatible_sandbox_hermetic_tmp

common --java_language_version=11
common --java_runtime_version=remotejdk_11
# Workaround for https://github.com/bazelbuild/bazel/issues/19598
# TODO: Remove after the fix is available in last_green.
common --nojava_header_compilation

# Improve build caching by redacting environment variables.
common --incompatible_strict_action_env
# On Windows, PATH doubles as the dynamic library search path. We need its
# unmodified value to find libraries in non-standard location, such as the
# ASAN runtime for cc_asan_test.
common:windows --noincompatible_strict_action_env
common:windows --test_env=PATH
# Allow build to start before all external deps have been fetched.
common --experimental_merged_skyframe_analysis_execution
